.answer-pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.answer-button {
    margin: 10px;
    width: 300px;
    height: 100px;
}

@media (max-width: 600px) {
    .answer-pair {
        flex-direction: column;
        align-items: center;
    }
}