
.link-button a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
    background-color: #6f5e06;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.link-button a:hover {
    background-color: #f7e382;
    color: #000;
}