body {
    text-align: center;
    background-color: #ddbe56;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
}

header {
    background-color: #6f5e06;
    color: #fff;
    border-bottom: 2px solid #000;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 5px;
    font-size: 2.5em;
}

.app-body {
    position: relative;
    top: 125px;
    padding: 0px;
}